body{
    background-color: rgb(22, 22, 22);
    color: rgb(110, 128, 145);
    min-height: 100vh;
}
h1{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}
.navbar{
    background-color: rgba(21, 33, 46, 0.972);
}
.card{
    text-align: center;
    color: rgb(110, 128, 145);
    transition: 0.5s;
    background-color:rgb(48, 59, 70);
    background-color: rgb(21, 33, 46);
}
.card:hover{
    transform: scale(1.008);
    transition: 0.5s;
}
.card-text{
    margin: 25px 0;
}
.card img{
    width: 100%;
    margin: 15px 0;
}
.card a{
    background-color:rgba(5, 24, 41, 0.993);
    border-color: rgb(233, 233, 233);
    border-width: 2px;
    transition: 0.7s;
    color: rgb(110, 128, 145);
}
.card a:hover{
    transition: 0.7s;
    background-color: rgb(79, 87, 95);
    border-color: rgb(159, 195, 243);
}
.card-img-top{
    max-height: 250px;
    object-fit: contain;
    border-radius: 5px;
}
.navbar-brand{
    padding-left: 15px;
}
.navbar-nav li{
    padding-left: 20px;
}
footer{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
/* css animation link */
.two-lines{
    text-decoration: none;
    position: relative;
}
.two-lines::before, .two-lines::after{
    content: "";
    position: absolute;
    height: 2px;
    background-color: #cccccc;
    /* opacity 0 au départ pour qu'elles soient invisibles */
    opacity: 0;
    /* left 50% et translate -50% pour centrer parfaitement */
    left: 50%;
    transform: translate(-50%, 10px);
    transition: all 0.2s ease-in-out;
}
.two-lines::before{
    /* une ligne plus large que l'autre */
    width: 90%;
    bottom: 0;
}
.two-lines::after{
    /* une ligne plus petite que l'autre */
    width: 60%;
    bottom: -7px;
}
/* quand on va hover ... */
.two-lines:hover::before, .two-lines:hover::after{
    /* on redonne la visibilité aux élément en transition 0.2s */
    opacity: 1;
    /* on remonte les lignes grâce au 0px */
    transform: translate(-50%, 0px);
}
.two-lines::before, .two-lines:hover::after{
    transition-delay: 0.2s;
}
.two-lines:hover::before{
    transition-delay: 0s;
}

@media(max-width:680px){
    footer{
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        text-align: center;
        margin: 0 20px;
    }
    .card{
        margin: 25px 0;
    }
}